# emacs files
 [#]*[#] 
*~

.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.cpp

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache
*.out
*.vscode
.snakemake/
todo.txt

# dev files
test.ipynb

# Sphinx doc
docs/_build

# Processed data
ECOanalysis/data/*
!ECOanalysis/data/EXP00_test/

data/raw/*
data/processed/*
data/preprocessed/*
!data/preprocessed/EXP00_test/

# Configs
ECOprocessing/Configs/*
!ECOprocessing/Configs/base.yml
!ECOprocessing/Configs/processes*
!ECOprocessing/Configs/EXP00_test

configs/*
!configs/base.yml
!configs/EXP00_test

# commit message
message.txt
